<!DOCTYPE html>
<html>
<head>
    <title>채팅방 목록</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
</head>
<body>
<div id="chatRoomsList"></div>
<br>
<br>
<div>
    <label for="roomName">채팅방 이름</label>
    <input type="text" id="roomName" onkeydown="if(event.keyCode == 13) saveChatRoom()">
    <button onclick="saveChatRoom()" >채팅방 생성</button>
</div>

<script>
    function getChatRooms() {
        fetch('/api/chat/rooms')
            .then(response => response.json())
            .then(data => {
                console.log('data', data);
                const listElement = document.getElementById('chatRoomsList');
                listElement.innerHTML = '';
                data.forEach(room => {
                    const roomElement = document.createElement('div');
                    roomElement.innerHTML = `<a href="/chat/${room.chatRoomId}">${room.title}</a> - <span id="roomLast${room.chatRoomId}">${room.lastMessage}</span>
                    (<span id="userActivityCount${room.chatRoomId}">${room.userActivityCount}</span>)`;
                    listElement.appendChild(roomElement);
                });
            });
    }

    function saveChatRoom() {
        const roomName = document.getElementById('roomName').value;
        fetch('/api/chat/rooms', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ title: roomName })
        })
            .then(response => response.json())
            .then(data => {
                console.log('data', data);
                document.getElementById('roomName').value = '';
                getChatRooms();
            });
    }

    function connect() {
        var socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/lastMessage', function (message) {
                console.log('message', message.body);
                var {chatRoomId, sender, type, content} = JSON.parse(message.body);
                document.getElementById(`roomLast${chatRoomId}`).innerText = `${content}`;
            });
            stompClient.subscribe('/topic/userActivityCount', function (message) {
                console.log('message', message.body);
                var {chatRoomId, userActivityCount} = JSON.parse(message.body);
                document.getElementById(`userActivityCount${chatRoomId}`).innerText = `${userActivityCount}`;
            });
        });
    }


    getChatRooms();
    connect();
</script>
</body>
</html>
